.typing {
  width: 22ch;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.5em;
  letter-spacing: 0.5ch;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}